h2 {
  font-weight: normal;
}

.container {
  color: #555;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.header h2 {
  margin: 30px auto;
}

.get-started {
  opacity: 0.5;
  margin: 125px auto 0;
  width: 300px;
  color: #000;
  text-align: center;
}

.client-search {
  width: 30%;
}

.client-list {
  width: 30%;
}

/* Images */

.oi-magnifying-glass {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 10px;
}

.home-button {
  float: left;
  width: 30px;
}

.logo {
  width: 200px;
  margin-left: -30px;
}

.folder {
  width: 130px;
}
