h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.container {
  color: #555;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.get-started {
  opacity: 0.5;
  margin: 125px auto 0;
  width: 300px;
  color: #000;
  text-align: center;
}

.client-search {
  width: 30%;
}

.client-list {
  width: 30%;
}

.add-calendar-button h5 {
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}

.select-template {
  max-width: 240px;
}

.program-dates input {
  display: inline-block;
  max-width: 200px;
  margin-left: 2%;
  margin-right: 4%;
}

.point-structure span {
 display: inline-block;
 width: 180px;
}

.point-structure input {
  max-width: 120px;
  display: inline-block;
  margin-right: 1%;
}

.cancel-button {
  text-decoration: underline;
  color: #0069d9;
}

.next-button {
  margin-left: 43%;
}

/* Images */

.oi-magnifying-glass {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 10px;
}

.home-button {
  float: left;
  width: 24px;
}

.logo {
  width: 175px;
  margin-left: -30px;
}

.folder {
  width: 130px;
}

.edit-icon,
.delete-icon {
  width: 24px;
}

.add-icon {
  width: 32px;
}
